body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    background-color:#f4f4f4;
    
}

th, td {
    border: 1px solid black;
    padding: 10px;
   
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
